body {
    background-color: #5f5f5d;
    max-width: 700px;
    max-height: 600px;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
}

h1 {
    color: #dedede;
    font-size: 120px;
    padding-left: 3rem;
    margin-bottom: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.info-container {
    height: 300px;
    width: 400px;
    position: absolute;
    display: grid;
    justify-content: start;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.info-container>* {
    text-align: left;
    font-size: 10px;
}

#title {
    font-size: 80px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 1px;
    grid-row: 2;
    grid-column: 1/4;
    text-align: center;
    margin-bottom: 30px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 500px;
    width: 650px;
    z-index: -1;

}

.color-block {
    background-color: red;
    height: 500px;
    width: 650px;
    z-index: -1;
    clip-path: polygon(0 80%, 80% 0, 100% 0, 100% 20%, 20% 100%, 0% 100%);
}

footer {
    height: 150px;
}

footer>p {
    padding-top: 80px;
}